*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: #0d176e; 
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
     width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(    #0d176e,#3a7692); 
    color : white; 
    display:  flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 ;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0 ;
}

.alura-imagem{
    width: 120px;
}